.bio-font{
  font-family: 'Quattrocento Sans', sans-serif;
}

.bio-font2{
  font-family: 'Raleway', sans-serif;
}

.bio-font3{
  font-family: 'Kaushan Script', cursive;
}

.bio-font4{
  font-family: 'Inspiration', cursive;
}

.bio-font5{
  font-family: 'Dosis', sans-serif;
}

.bio-font6{
  font-family: 'Acme', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}
    
.dropdown-content a {
  padding: 4px 8px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}