body {
    background-color: #343f29;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    font-family: 'Lucida Handwriting', cursive;
}

/* 'Lucida Console', 'Courier New', Courier, monospace */